@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
.hotelbooking-bg-container{
    background-image:url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/hotelbg.png");
    height:100vh;
    background-size:cover;
}
.hotelbooking-card-item{background-color:#000000e6;
padding:25px; margin:20px;border-radius:10px;

}
.hotelbooking-card-head{color:#ffffff;
    font-family:"Bree Serif";
font-size:30px;
font-weight:bold;}
.hotelbooking-card-para{font-family:"Roboto";
font-size:25px;
color:#ffffff;font-weight:500;}
.button{color:#000000e6;
background-color:#ffffff;
height:40px;width:130px;
border-radius:10px;
border-width:0px;
font-weight:bold;
margin-bottom:10px;}
.button-container{
    text-align:center;
    }